@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /*  font-family: 'Lato', sans-serif;*/
    color: #333;
    line-height: 1.6;
    overflow-x:hidden;
}  
:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: #047aed;
    --light-gray: rgba(255, 255, 255, 0.877);
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
  }
.navbar{
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}
.navbar a {
    font-family: var(--Sniglet-font);
    color: whitesmoke !important;
    margin-right: 2rem;
  }
#showcase {
    font-family: "Rubik", sans-serif;
    padding: 6rem !important;
    position: relative;
  }
#showcase::after {
    content: '';
    position: absolute;
    width:100%;
    height:8rem;
    bottom:0;
    left:0;
    background: url("assets/wave-small.png") center no-repeat;
    background-size:cover;
   }
#showcase h1{
  font-size:3.5rem;
}
.primary-btn {
    border-radius: 30px;
    font-weight: bold;
  }
  .animated{
    background: url('https://i.ibb.co/89Cf3dm/text-bg.png') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
  }
  @keyframes moveBg {
    0% {
      background-position: 0% 30%;
    }
  
    100% {
      background-position: 100% 50%;
    }
  }
#showcase .startbtn{
   animation: movebtn .5s;
   animation-fill-mode: forwards;
   z-index: 2;
   position: fixed;
   bottom:3rem;
   right:2rem;
   background-color:#ef4b6c;
   color: white;
   border-radius: 50%;
   font-size: 1.5rem;
}/*
@keyframes movebtn{
  
  100%{
    position: fixed;
    bottom:3rem;
    right:2rem;
    background-color:#ef4b6c;
   
  }
}*/

/* about */
#about .row .col-md-5 .panel{ 
  width: 100%;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 1rem 1rem 2rem 2rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  }
/*Workflow */
#workflow .card:hover{
 transform: scale(1.1);
}
/* course */
.purchase > h1 {
  padding-top: 3rem;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}
.purchase > p {
  color: var(--light-black);
  font-size: 1rem;
  padding-bottom: 2rem;
}
.d-flex .card {
text-align: center;
margin: 18px 10px 40px;
transition: transform 0.2s ease-in
}
.d-flex .card:hover {
transform: translateY(-15px);
}
.d-flex > div {
border-color:#047aed;
border-width: thin;
color:var(--bggradient);;
font-size: 30px;
}
/* case studies */
.card{
 border-radius: 30px;
}
/*select us*/
#selectus .container{
  margin: 0;
  padding: 0;
  position: relative;
}
.cus{
 padding:4rem;
}
.fa-atom{
  animation: rotation 4s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.selectus-img{
  width: 20%;
  border: 2rem solid white;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
  z-index: 1;
} 
.selectcircle{
  width: 50%;
  position: absolute;
  top:0;
  left: 0;
  animation: selectcircle 90s linear infinite;
}
@keyframes selectcircle{
  0%{  top:0%;left:0%;}
  25%{top:0%;left:40%;}
  50%{top:50%;left:40%;}
  75%{top:50%;left:0%}
  100%{top:0%;left:0%;}
}
/*case studies*/
#casestudies .img-hover-zoom{
  height: 130px;
  width: 130px;
  overflow: hidden;
}
#casestudies img{
  transition: transform .5s ease;
}
#casestudies img:hover{
  opacity: 0.8;
  transform: scale(1.1);
}
/* FOOTER */
footer .fab{
  padding-right: 1rem;
  color:white !important;
}
footer a {
  font-family: var(--Sniglet-font);
  color: whitesmoke !important;
  text-decoration: none;
}

.triangle-down {
  position: absolute;
  left:7rem;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #047aed;
}
@media (max-width:600px) {
  #showcase h1{
    font-size:2rem;
  }
  .navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
  }
  #showcase{
    margin-top: 5rem;
    padding: 0 !important;
    padding-top: 2rem !important;
    padding-bottom: 4rem !important;
  }
  
}
